package $dataInfo.daoPackage;


import ${dataInfo.domainPackage}.${table.domainClassName};
import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;
import com.sales.common.domain.Page;
import java.util.List;
/**
* @description: $!table.comment
* @author: $!config.user
* @createTime: $!config.time
* entityName: ${table.domainObjName}
* tableName: ${table.tableName}
*/
@Repository
@Mapper
public interface ${table.domainClassName}Mapper{

    /**
    * 新增
    * @param ${table.domainObjName}
    * @return 添加后返回主键
    */
    int insert(${table.domainClassName} ${table.domainObjName});

    /**
    * 根据ID删除
    * @param id
    * @return
    */
    void deleteById (@Param("id")int id);

    /***
    * 修改
    * @param ${table.domainObjName}
    * @return
    */
    void update(${table.domainClassName} ${table.domainObjName});

    /**
    * 根据ID查找
    * @param id
    * @return ${table.domainObjName}
    */
    ${table.domainClassName} findById(int id);

    /***
    * 分页查找
    * @param p 分页参数
    * @param ${table.domainObjName} 参数数据
    * @return ${table.domainObjName} list
    */
    List<${table.domainClassName}> list(@Param("e")${table.domainClassName} ${table.domainObjName}
                                        ,@Param("p") Page p);

    /***
    * count总数
    * @param ${table.domainObjName} 参数数据
    * @return
    */
    int count(${table.domainClassName} ${table.domainObjName});
}
