package $!dataInfo.domainPackage;
import java.util.Date;
import java.math.BigDecimal;
import java.io.Serializable;
import lombok.Getter;
import lombok.Setter;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

/**
* @description: $!table.comment
* @author: $!config.user
* @createTime: $!config.time
*/
@Getter
@Setter
@ApiModel(value = "${table.domainClassName}", description = "${table.comment}模块")
public class $!table.domainClassName implements Serializable{

    private static final long serialVersionUID = -1L;

    #foreach($column in $!table.columnList)
##       /**
##        * ${column.comment}
##        */
        @ApiModelProperty(value="${column.comment}",name="${column.fieldName}")
        private ${column.fieldType} ${column.fieldName};
    #end
}