<!DOCTYPE html>
<html class="x-admin-sm">
<head>
  <meta charset="UTF-8">
  <title>业务管理系统</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div class="x-nav">
   <span class="layui-breadcrumb">
     <a href="javascript:void(0);">首页</a>
     <a href="javascript:void(0);">客户管理</a>
     <a href="javascript:void(0);"><cite>客户账户</cite></a>
  </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
     onclick="location.reload()" title="刷新">
    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
  </a>
</div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="search-content">

        </div>
        <table class="layui-table layui-form" id="layuiTable" lay-filter="layuiTable">

        </table>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/html" id="toolBar">
  <div class="tool-bar-wrap">
    <div class="tool-bar-left">

    </div>
    <!-- 右侧 -->
    <div class="tool-bar-right">
      <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">新增</button>
      <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batch-delete">批量删除</button>
    </div>
  </div>
</script>
<script type="text/html" id="operateBar">
  <a class="layui-btn layui-btn-xs edit" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs delete" lay-event="delete">删除</a>
</script>
<script type="text/javascript" src="/js/xadmin/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/xadmin/xadmin.js"></script>
<script>
  layui.config({
    base: '/js/module'
  })
</script>
<script>
  layui.use(['jquery', 'layer', 'cTable', 'cForm', 'table', "ajax", "form", "table"], function () {
    var $ = layui.jquery;
    var cForm = layui.cForm;
    var layer = layui.layer;
    var ajax = layui.ajax;
    var form = layui.form;
    var table = layui.table;
    var $ = layui.jquery;

    var commontable = layui.cTable;

    /**
     * 筛选条件
     */
    var searchField = [
      #foreach($item  in $table.viewTypes)
        #if($item.name != "id" && $item.name != "createTime" && $item.name != "updateTime")
          {
            type: ${item.type}, // * 表单类型 - radio
            name: '${item.field}', // * fieldName
            labelText: '${item.name}', // * label文字
            block: true
            #if($item.type == 8)
              ,laydateConfig:
                  {
                    elem: '', // 忽略，自动使用name值为元素id, 其它值与官方保持一致
                    range:
                        true
                  }
            #end
            #if($item.type == 5)
              ,options: [
                {
                  value: '',
                  labelText: ''
                }
              ]
            #end
          },
        #end
      #end
    ];
    var editField = [
      #foreach($item  in $table.viewTypes)
        #if($item.name != "id" && $item.name != "createTime" && $item.name != "updateTime")
          {
            type: ${item.type}, // * 表单类型 - radio
            name: '${item.field}', // * fieldName
            labelText: '${item.name}', // * label文字
            block: true
            #if($item.type == 8)
              ,laydateConfig:
                  {
                    elem: '', // 忽略，自动使用name值为元素id, 其它值与官方保持一致
                    range:
                        true
                  }
            #end
            #if($item.type == 5)
              ,options: [
                {
                  value: '',
                  labelText: ''
                }
              ]
            #end
          },
        #end
      #end
    ];
    var searchForm = cForm.init({
      formId: 'mySearchForm',
      container: '.search-content',
      fieldList: searchField, // 表单配置
      searchFormConfig: {
        title: '筛选条件', // 搜索框标题
        collapsed: false // 是否折叠
      },
      // 设置默认值
      defaultValue: {
        "phone": "",
        "age": "",
        "province": "",
        "desc": "",
        "time": ""
      },
      saveBtnText: '筛选',
      /**
       * 表单提交的事件
       * @data {Object} 序列化的表单值
       * @formEl {Object} 包含表单域的各项值
       */
      save: function (data, formEl) {
        myTable.reload("layuiTable", data);
      }
    });

    var editForm;
    // 表格初始化
    var myTable = commontable.init({
      url: '/${table.domainObjName}/list.html', // 数据接口
      toolbar: '#toolBar',
      id: 'layuiTable',
      autoSort: false,
      cols: [
        [
          // 标题栏
          {checkbox: true},
          #foreach($item in $table.viewTypes)
            {field: '$item.field', title: '$item.name', align: 'center'},
          #end,
          {
            title: '操作',
            fixed: 'right',
            align: 'center',
            // 自定义渲染模板 - html模板 [laytpl规范]
            toolbar: '#operateBar'
          }
        ]
      ],
      // 操作 - 事件监听
      toolCallback: function (obj, context) {
        var data = obj.data // 获得当前行数据
        var layEvent = obj.event // 获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr // 获得当前行 tr 的DOM对象

        console.log(data, layEvent, tr, obj)
        if (!obj.data) {
          console.log('err')
          return
        }

        if (layEvent === 'delete') {
          // 删除
          layer.confirm('确认删除吗？', {
            title: '提示'
          }, function (index) {
            ajax.getJSON({
              url: "/${table.domainObjName}/delete.html",
              data: {id: data.id},
              success: function (resp) {
                if (resp.c == "100") {
                  layer.msg("删除成功");
                  layer.closeAll();
                  obj.del(); // 删除对应行（tr）的DOM结构，并更新缓存
                  layer.close(index);
                } else {
                  layer.msg(resp.m);
                }
              }
            });
            // 向服务端发送删除指令
          })
        } else if (layEvent === 'edit') {
          // 编辑
          editForm = cForm.init({
            formId: 'popForm',
            fieldList: editField,
            layerConfig: {
              title: '修改',
              area: '600px'
            },
            defaultValue: data,
            save: function (d) {
              d.id = data.id;
              ajax.getJSON({
                url: "/${table.domainObjName}/update.html",
                data: d,
                success: function (resp) {
                  if (resp.c == "100") {
                    context.reload("layuiTable");
                    layer.msg("更新成功");
                    layer.closeAll();
                  } else {
                    layer.msg(resp.m);
                  }
                }
              });
            }
          })
        }
      },
      /**
       * 工具栏时间监听
       * @param {Object} obj 详见: https://www.layui.com/doc/modules/table.html#ontoolbar
       * @param {Object} table 当前table的实例对象
       */
      toolBarListener: function (obj, table) {
        var data = obj.data // 获得当前行数据
        var layEvent = obj.event // 获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr // 获得当前行 tr 的DOM对象

        console.log(data, layEvent, tr, obj)
        // if (!obj.data) {
        //   console.log('err')
        //   return
        // }

        // 获取选中的表格数据
        /*var selectedArr = table.getSelectedRowData();
        console.log(selectedArr);
        if (selectedArr.length <= 0) {
          layer.msg('请最少选择一项')
          return
        }*/

        if (layEvent === 'add') {
          editForm = cForm.init({
            formId: 'popForm1',
            fieldList: editField,
            layerConfig: {
              title: '派发',
              area: ['600px', '400px']
            },
            save: function (d) {
              var clueIds = "";
              for (var i = 0; i < selectedArr.length; i++) {
                clueIds += selectedArr[i].id + ","
              }
              console.log(d)
              var data = {
                clueIds: clueIds,
                consultId: d.consultId
              };
              var assignLoad = layer.load(1);
              ajax.getJSON({
                url: "/${table.domainObjName}/add.html",
                data: data,
                success: function (resp) {
                  if (resp.c == "100") {
                    if (resp.d.code == 0) {
                      table.reload("layuiTable");
                      layer.msg("添加成功");
                      layer.closeAll();
                    }
                    else {
                      layer.msg(resp.d.value);
                    }

                  } else {
                    layer.msg(resp.m);
                  }
                  layer.close(assignLoad);
                }
              });
            }
          });
        } else if (layEvent === 'batch-delete') {
          console.log(data + "被删除")
        }
      }
    })
  })
</script>
</body>
</html>