package $dataInfo.interfacePackage;

import ${dataInfo.domainPackage}.${table.domainClassName};
import com.sales.common.domain.Page;
import java.util.List;

/**
* @description: $!table.comment
* @author: $!config.user
* @createTime: $!config.time
*/
public interface I${table.domainClassName}Service {

    /**
    * 新增
    * @param ${table.domainObjName}
    * @return
    */
    int insert(${table.domainClassName} ${table.domainObjName});

    /**
    * 删除
    * @param id
    * @return
    */
    void deleteById(int id);

    /***
    * 修改
    * @param ${table.domainObjName}
    * @return
    */
    void update(${table.domainClassName} ${table.domainObjName});

    /**
    * 根据ID查找
    * @param id
    * @return
    */
    ${table.domainClassName} findById(int id);

    /***
    * 分页查找
    * @param page
    * @param ${table.domainObjName} 参数数据
    * @return ${table.domainObjName} list
    */
    List<${table.domainClassName}> list(${table.domainClassName} ${table.domainObjName}, Page page);

    /***
    * count总数
    * @param ${table.domainObjName} 参数数据
    * @return
    */
    int count(${table.domainClassName} ${table.domainObjName});

}
