package $servicePackageName;

import com.ytx.common.web.Page;
import $daoPackageName.${table.domainClassName}Mapper;
import ${domainPackageName}.${table.domainClassName};
import ${iServicePackageName}.I${table.domainClassName}Service;
import org.springframework.stereotype.Service;

import javax.annotation.Resource;
import java.util.List;
import java.util.Date;

@Service
public class ${table.domainClassName}Service implements I${table.domainClassName}Service {
    @Resource
    private ${table.domainClassName}Mapper ${table.domainObjName}Mapper;

    /**
    * 新增
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public int add${table.domainClassName}(${table.domainClassName} ${table.domainObjName}) {
        return ${table.domainObjName}Mapper.add${table.domainClassName}(${table.domainObjName});
    }

    /**
    * 删除
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public void delete${table.domainClassName}ById(${table.domainClassName} ${table.domainObjName}) {
        ${table.domainObjName}Mapper.delete${table.domainClassName}ById(${table.domainObjName});
    }

    /***
    * 修改
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public void update${table.domainClassName}(${table.domainClassName} ${table.domainObjName}) {
        ${table.domainObjName}Mapper.update${table.domainClassName}(${table.domainObjName});
    }

    /**
    * 根据ID查找
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public ${table.domainClassName} find${table.domainClassName}(${table.domainClassName} ${table.domainObjName}) {
        return ${table.domainObjName}Mapper.find${table.domainClassName}(${table.domainObjName});
    }

    /***
    * 分页查找
    * @param page
    * @return
    */
    @Override
    public List<${table.domainClassName}> list${table.domainClassName}(${table.domainClassName} ${table.domainObjName}, Page page) {
        return ${table.domainObjName}Mapper.list${table.domainClassName}(${table.domainObjName}, page);
    }

    /***
    * count总数
    * @return
    */
    @Override
    public int count${table.domainClassName}(${table.domainClassName} ${table.domainObjName}) {
        return ${table.domainObjName}Mapper.count${table.domainClassName}(${table.domainObjName});
    }
}
