package $dataInfo.servicePackage;

import $dataInfo.daoPackage.${table.domainClassName}Mapper;
import ${dataInfo.domainPackage}.${table.domainClassName};
import ${dataInfo.interfacePackage}.I${table.domainClassName}Service;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;
import java.util.List;
import java.util.Date;
import com.sales.common.domain.Page;

/**
* @description: $!table.comment
* @author: $!config.user
* @createTime: $!config.time
*/

@Service
public class ${table.domainClassName}Service implements I${table.domainClassName}Service {
    @Resource
    private ${table.domainClassName}Mapper ${table.domainObjName}Mapper;

    /**
    * 新增
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public int insert (${table.domainClassName} ${table.domainObjName}) {
        return ${table.domainObjName}Mapper.insert(${table.domainObjName});
    }

    /**
    * 删除
    * @param id
    * @return
    */
    @Override
    public void deleteById(int id) {
        ${table.domainObjName}Mapper.deleteById(id);
    }

    /***
    * 修改
    * @param ${table.domainObjName}
    * @return
    */
    @Override
    public void update(${table.domainClassName} ${table.domainObjName}) {
        ${table.domainObjName}Mapper.update (${table.domainObjName});
    }

    /**
    * 获取单个
    * @param id
    * @return
    */
    @Override
    public ${table.domainClassName} findById (int id) {
        return ${table.domainObjName}Mapper.findById(id);
    }

    /***
    * 分页查找
    * @param page
    * @return
    */
    @Override
    public List<${table.domainClassName}> list(${table.domainClassName} ${table.domainObjName}, Page page) {
        return ${table.domainObjName}Mapper.list(${table.domainObjName}, page);
    }

    /***
    * count总数
    * @param ${table.domainObjName} 参数数据
    * @return
    */
    @Override
    public int count(${table.domainClassName} ${table.domainObjName}) {
        return ${table.domainObjName}Mapper.count(${table.domainObjName});
    }
}
